

              * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
              }
             
              .container {
                width: 100vw;
                height: 100vh;
                display: grid;
                place-items: center;
                position: fixed;
                top: 0px;
                background-color: #fff;
              
              }
              .container .loader {
                position: relative;
                width: 400px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
              }
              .container .loader .l {
                position: relative;
                width: 30px;
                height: 30px;
                background:transparent;
                margin: 0 15px;
              }
              .container .loader .l:after, .container .loader .l:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                left: 0;
                top: 0;
                border-radius: 50%;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
              }
              .container .loader .l:after {
                transform: translateY(-500%);
                animation: fall_after 2s cubic-bezier(0.75, -0.4, 0, 1.6) infinite;
                animation-delay: calc( 1s - ( 0.15s * ( var(--index)) ) );
              }
              .container .loader .l:before {
                transform: translateY(0%);
                animation: fall_before 2s cubic-bezier(0.75, -0.4, 0, 1.6) infinite;
                animation-delay: calc( 1s - ( 0.15s * ( var(--index)) ) );
              }
              .container .loader .l._1:after, .container .loader .l._1:before {
                background: linear-gradient(to bottom, #faa000 0, #dc6302 100%);
              }
              .container .loader .l._2:after, .container .loader .l._2:before {
                background: linear-gradient(to bottom, #fd0020 0, #c10018 100%);
              }
              .container .loader .l._3:after, .container .loader .l._3:before {
                background: linear-gradient(to bottom, #00aefc 0, #007bb2 100%);
              }
              .container .loader .l._4:after, .container .loader .l._4:before {
                background: linear-gradient(to bottom, #a800fd 0, #4f1dd4 100%);
              }
              @keyframes fall_before {
                100% {
                  transform: translateY(500%);
                }
              }
              @keyframes fall_after {
                100% {
                  transform: translateY(0%);
                }
              }
              .support {
                position: absolute;
                right: 10px;
                bottom: 10px;
                padding: 10px;
                display: flex;
              }
              a {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: relative;
                margin: 0 10px;
                color: #fff;
                font-size: 1.5rem;
                transition: all 400ms ease;
              }
              a:hover {
                background: #fff;
                color: #222;}
              
.wrap-slide{
    width:1000px;height:500px;
    margin: 0px auto;
    margin-top: calc(50%, 16px );
}
.slide{
    width:100%;
    position: relative;

}

img{
    width:1000px;height:500px;
    object-fit: cover;
   
}

button{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
  top:30%;
    background-color: rgba(0,0,0,0.4);
    width:50px;
    height:40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color:white;
}
button:hover{
    background-color: rgb(52, 53, 52) ;
}
.nextbtn{
    right:190px;
}
.prevbtn{
left:190px;
}